CLI Payments methods : - 
1. Can Create Account & Self register
2. Adding Bank Account
3.Adding money to wallet (Bank account to wallet)
4.Send money/ first transaction.
	Source   ---> Destination
	BankAcc---> Wallet
	Wallet   ---> BankAcc
	BankAcc + Wallet ---> Wallet
5. Statements (Account Transaction statements).
6.Refund.
7.Monthly Transactions.